{% include 'base.html' %}
{% load static %}
{% block title %} My Map {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="column " style="background-color: rgb(248, 182, 182); border-radius: 20px; margin-left: 0.7cm; " ></div> 
    <div class="column left" id="map" style="border-radius: 20px;"></div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{% static '/leaflet/leaflet.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
{% endblock %}