{% extends 'base.html' %}
{% load static %}
{% block title %} My Map {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <h5>Map Layers</h5>
        </div>
        <div class="row">
            <h5>Legend</h5>
        </div>
    </div> 
    <div class="col-md-10" id="map">
       
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/loadData.js' %}"></script>
{% endblock %}