#map {
    height: 92vh;
    width:100%;
    z-index: 0;
}

.row h5, .section-title {
    font-size: 1em;
    color: var(--white);
    width: 100%;
    background-color: darkcyan;
    padding: 6px 4px;
    margin: 0.25rem 0;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 0;
}

.col-md-2 {
    padding:0;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-top: 0.25em;
}

/* Custom markers */
.hospital-icon {
    background-color: #790c4b;
    padding: 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.leaflet-marker-icon.hospital-icon {
    width: 20px !important;
    height: 20px !important;
}

.primary-school {
    background-color: #790c4b;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.secondary-school {
    background-color: #ff20a2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.irrigation {
    background-color: #0d42d3;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.village {
    background-color: #d3af61;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.trading-center {
    background-color: #128383;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.water-point {
    color: #00a3d2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
}

.settlement-scheme {
    background-color: #117e54;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.hospital {
    background-color: #db2912;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.leaflet-popup-content-wrapper {
    border-radius: 6px !important;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin:4px
}

.popup-content {
    width: 200px;
    height: 200px;
    overflow: auto;
    padding: 3px 0px;
}

.popup-content .popup-item {
    display: flex;
    justify-content: space-between;
    margin:8px 0;
}

.popup-item strong {
    text-transform: capitalize;
}

.btn-geo {
    background-color: white;
    padding: 7px 12px;
}

.leaflet-marker-icon:focus {
    outline: none;
}